@model GymManagementSystem.Entities.Models.Workout
@{
    ViewData["Title"] = "EditWorkout";
}

<h1>EditWorkout</h1>

<form asp-controller="FitnessWorkout" asp-action="EditEmployee" method="post">


    <label>Workout Id</label>
    <input name="WorkoutId" value="@Model.WorkoutId"/>

  

    <label>Workout Name</label>
    <input name="WorkoutName" value="@Model.WorkoutName"/>
    <br />
    <label>Description</label>
    <input name="Description" value="@Model.Description" />
    <br />
    <label>ImageURL</label>
    <input name="ImageURL"  value="@Model.ImageURL"/>
    <br />
    <label>Max Particpant</label>
    <input name="MaxParticpant"  value="@Model.MaxParticpant"  />

    <label>Price</label>
    <input name="Price"  value="@Model.Price" />

    <button type="submit">Save</button>
</form>
